html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background-color: #f4efe3;
  color: #56481f;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

footer {
  font-size: 0.8em;
  line-height: 1.3em;
  border-top: 1px solid #56481f;
  padding-top: 2em;
  margin: 2em;
}

/* hyperlink and bookmarks */
a,
.indicator {
  text-decoration: none;
  border-bottom: 1px dashed #56481f;
  cursor: pointer;
}

a:hover,
.indicator:hover {
  border-bottom: 1px solid #56481f;
}

/* state when sidebar is closed */
#viewDiv {
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  left: 60px;
  width: calc(100% - 60px);
  transition: all 0.5s ease;
  z-index: 2;
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  /*   reference point of image is on top-left, 
  transform it to make center of image as reference point */
  transform: translateY(-50%) translateX(-50%);
}  

#queryDiv {
  position: relative;
  min-width: 250px;
  padding: 10px;
  display: none;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 60px;
  background: #f4efe3;
  color: #56481f;
  z-index: 99;
  /* animation when collapse/expand sidebar */
  transition: all 0.5s ease;
}

.sidebar.open {
  width: max(30%, 300px);
  overflow-y: auto;
}

/* collapse sidebar */
.sidebar #contentDiv > * {
  opacity: 0;
  /* enable fade-out effect when collapsing sidebar */
  transition: all 0.5s ease;
}

.sidebar.open #contentDiv > * {
  opacity: 1;
}

.sidebar > * {
  margin: 5%;
}

/* header of content */

.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo-details .icon,
.sidebar .logo-details .logo_name {
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
  font-size: 20px;
  font-weight: 600;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}

.sidebar .logo-details #collapse-button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  /* transition: all 0.4s ease; */
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details #collapse-button {
  text-align: right;
}

/* icons */
.sidebar .bx {
  color: #56481f;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

/* choose the viewDiv BELOW (i.e. next sibling) as in HTML */
.sidebar.open ~ #viewDiv {
  left: max(30%, 300px);
  width: calc(100% - max(30%, 300px));
}
