html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#viewDiv {
  position: absolute;
  right: 0;
  /* min-width of contentDiv or current width of contentDiv */
  left: max(300px, 30%);
  top: 0;
  bottom: 0;
  height: 100%;
}

#contentDiv {
  display: block;
  position: absolute;
  left: 0;
  height: 100%;
  width: max(300px, 30%);
  /* scroll along contents for long descriptions */
  overflow-y: auto;
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  /*   reference point of image is on top-left, 
  transform it to make center of image as reference point */
  transform: translateY(-50%) translateX(-50%);
}  

#queryDiv {
  position: absolute;
  min-width: 250px;
  padding: 10px;
  display: none;
}

/* select all texts and other elements inside the side panel */
#contentDiv > * {
  margin: 5%;
}
