html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background-color: #f4efe3;
  color: #56481f;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 2.5em;
  line-height: 1.5;
}

footer {
  font-size: 0.8em;
  line-height: 1.3em;
  border-top: 1px solid #56481f;
  padding-top: 2em;
  margin: 2em;
}

/* hyperlink and bookmarks */
a,
.indicator {
  text-decoration: none;
  border-bottom: 1px dashed #56481f;
  cursor: pointer;
}

a:hover,
.indicator:hover {
  border-bottom: 1px solid #56481f;
}

#viewDiv {
  position: absolute;
  right: 0;
  /* min-width of contentDiv or current width of contentDiv */
  left: max(300px, 30%);
  top: 0;
  bottom: 0;
  height: 100%;
}

#contentDiv {
  display: block;
  position: absolute;
  left: 0;
  height: 100%;
  width: max(300px, 30%);
  /* scroll along contents for long descriptions */
  overflow-y: auto;
  /* mysterious blank space on top of div */
  top: 0;
}

/* select all texts and other elements inside the side panel */
#contentDiv > * {
  margin: 5%;
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  /*   reference point of image is on top-left, 
  transform it to make center of image as reference point */
  transform: translateY(-50%) translateX(-50%);
}  

#queryDiv {
  position: relative;
  min-width: 250px;
  padding: 10px;
  display: none;
}
